<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Guía de Elden Ring</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  
</head>
<body>

  <header>
    Guía de ubicaciones del Elden Ring
  </header>

  <div class="busqueda">
    <form id="formBusqueda">
      <input type="text" id="barraBusqueda" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </form>
  </div>

  <div class="orden">
    <label for="ordenSelect">Ordenar por:</label>
    <select id="ordenSelect">
      <option value="az">Nombre (A-Z)</option>
      <option value="za">Nombre (Z-A)</option>
    </select>
  </div>

  <div class="filtros">
    <button data-tipo="jefe">Jefes</button>
    <button data-tipo="objeto">Objetos</button>
    <button data-tipo="monstruo">Monstruos</button>
    <button data-tipo="npc">NPC</button>
  </div>

  <div class="contenido" id="resultados">
    <!-- Aquí se mostrarán los datos -->
  </div>

<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>
