<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Iniciar sesión - Elden Ring</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">

</head>
<body class="auth-layout">
    <div class="formulario">
        <h2>Iniciar sesión</h2>
        <form method="POST" action="{{ url_for('auth.login') }}">
            <label for="correo">Correo electrónico:</label>
            <input type="email" id="correo" name="correo" placeholder="rebecca@gmail.com" required>

            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="12345678" required>

            <button type="submit">Entrar</button>
        </form>

        <p>¿No tienes cuenta? <a href="{{ url_for('auth.registro') }}">Regístrate</a></p>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="mensajes">
                    {% for msg in messages %}
                        <li>{{ msg }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </div>
</body class="auth-layout">
</html>
